<ion-header [translucent]="true">

  <ion-toolbar color="secundary">
    <ion-buttons slot="start">

      <ion-menu-button color="primary" name="menu">

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">
      Aprendiendo ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <img title="prueba" src="../../assets/icon/Rick-y-Morty-para-el-fanático.jpg">
<ion-card-header>
<ion-card-subtitle>
  Serie
</ion-card-subtitle>
<ion-card-title>
  ¿Que es rick and morty?
</ion-card-title>
</ion-card-header>
<ion-card-content>
  Es una serie de televisión americana de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim, también se emitió en Cartoon Network. La serie sigue las desventuras de un científico, Rick Sanchez, y su fácilmente influenciable nieto, Morty, quienes pasan el tiempo entre la vida doméstica y los viajes espaciales, temporales e intergalácticos. Dan Harmon, el co-creador de la serie y Justin Roiland son los encargados de las voces principales de Morty y Rick, la serie también incluye las voces de Chris Parnell, Spencer Grammer y Sarah Chalke.
</ion-card-content>
</ion-card>  
<footer> Proyect 2023</footer>

</ion-content>
