<ion-header [translucent]="true">
  <link rell="stylesheet" href="css/tab3.page">
  <ion-toolbar color="secundary">
    <ion-buttons slot="start">

      <ion-menu-button color="primary" name="menu">

      </ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">
      Aprendiendo ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  
<ion-card-header>
<ion-card-subtitle>
  Trailer
</ion-card-subtitle>
<ion-card-title>
  Fecha de salida de la serie fue el 2 diciembre de 2013
</ion-card-title>
</ion-card-header>
<ion-card-content>
  <div id="video">
  <iframe width="560" height="315"  src="https://www.youtube.com/embed/E8cXKMR9a1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</ion-card-content>
</ion-card>  
<footer> Proyect 2023</footer>
